/* éléments globaux  */
html {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
    width: 100%;
    margin: auto;
}

body {
    margin: auto;
}

.hebergmt-infos__stars i,
.featured__stars i {
    font-size: 10px;
    color: #0065FC;
}

.searching__filter i,
.featured-articles__title i {
    font-size: initial;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: initial;
}

h1,
h2,
h3 {
    font-weight: 600;
    font-size: 16px;
}

h4 {
    font-weight: 600;
    font-size: 14px;
}

/* éléments communs de sections  */
.main-articles,
.featured-articles {
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background: #F2F2F2;
}

.item-product,
.item-featured {
    width: 30%;
    height: max-content;
    border: solid 5px #fff;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}

.item-product a img,
.item-featured a img {
    position: absolute;
    max-width: 110%;
}

/* header */
.heading {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

.heading__logo {
    margin: auto;
    margin-left: 0px;
}

.heading__nav-links {
    display: flex;
    margin: 0px;
}


.heading__nav-links li a {
    display: block;
    text-align: center;
    color: inherit;
    padding: 30px 20px;
    text-decoration: none;
    margin-top: 10px;
}

.heading__nav-links li:first-child {
    border-top: solid 2px;
    border-top-color: #0065FC;
    color: #0065FC;
    line-height: .9rem;
}

.heading__nav-links li:last-child {
    font-weight: 600;
    color: #0065FC;
}

/* Container de la section search + hébergement + activités */

#main,
.heading {
    max-width: 1200px;
    margin: auto;
}

#main {
    display: flex;
    flex-wrap: wrap;
}


/* "Trouvez votre hébergement pour..."  */
.search {
    margin: 30px 0;
}

.searching__title * {
    margin: auto;
}

.searching__input * {
    padding: 6px;
    border: none;
    color: initial;
}

.searching__input span {
    border: solid 1px #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
}

.searching__input input {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.searching__input input::placeholder {
    font-weight: 600;
    color: initial;
}

.searching__input button {
    border: solid 1px #0065FC;
    border-radius: 0 10px 10px 0;
    background: #0065FC;
    color: #fff;
}

.searching__input {
    border: none;
    border-radius: 10px;
}

.searching__input,
.searching__filter,
.searching__filter ul {
    display: flex;
    flex-direction: row;
}

.searching__title,
.searching__input,
.searching__filter {
    margin: 10px 0;
}

.searching__filter {
    align-items: center;
    font-weight: 600;
    margin: 0;
}

.searching__filter p {
    margin-right: 10px;
}

.searching__filter ul {
    padding: 0;
    margin-right: 5px;
}

.searching__filter ul li {
    display: flex;
    margin: auto;
}

.searching__filter ul li a {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #f2f2f2;
    border-left-style: none;
    border-radius: 30px;
}

.searching__filter--round-corner {
    position: relative;
    display: flex;
    border-radius: 35px;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
}

.searching__filter--round-corner i {
    font-size: initial;
    color: #0065FC;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.searching__filter span {
    padding: 0 10px;
}

.searching__filter ul li i {
    background: #DEEBFF;
    border-radius: 30px;
}

.searching__info div {
    display: flex;
    align-items: center;
}

.searching__info div i {
    font-size: 10px;
}

.searching__info div span {
    margin-left: 10px;
}

.searching__info--round-corner {
    position: relative;
    display: flex;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}

.searching__info--round-corner i {
    font-size: initial;
    color: #0065FC;
    align-self: center;
    justify-self: center;
    margin: auto;
}

/* "Hébergements" */
.main-articles {
    width: 65%;
}


.main-articles>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.hebergmt-infos {
    padding: 0 10px;
    height: max-content;
}

.hebergmt-infos>* {
    margin: 10px 0;
}

.hebergmt-infos span {
    font-weight: 600;
}

.item-product a {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    overflow: hidden;
}