/* éléments globaux  */
html {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
    width: 100%;
    margin: auto;
}

body {
    margin: auto;
}

.lodging-infos__stars i,
.featured__stars i {
    font-size: 10px;
    color: #0065FC;
}

.searching__filter i,
.popular-items__title i {
    font-size: initial;
}

.popular-items,
.lodging-articles {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: initial;
}

h1,
h2,
h3 {
    font-weight: 600;
    font-size: 16px;
}

h4 {
    font-weight: 600;
    font-size: 14px;
}

/* éléments communs de sections  */

.lodging-articles,
.popular-items {
    padding: 20px;
    border-radius: 10px;
    background: #F2F2F2;
}

.lodging-item,
.item-featured,
.activities-items__item {
    height: max-content;
    border: solid 5px transparent;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 9px 10px -9px rgb(171 171 171);
}

main {
    max-width: 1200px;
    margin: auto;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading,
#main {
    padding: 0 20px;
}

.lodging-articles>div,
.activities>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.lodging-item a>div:first-child,
.activities-items__item a>div {
    overflow: hidden;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* header  */
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.heading__logo {
    margin: auto;
    margin-left: 0px;
}

.heading__nav-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.heading__nav-links li {
    display: flex;
    align-items: flex-end;
}

.heading__nav-links li a {
    display: block;
    text-align: center;
    color: inherit;
    padding: 35px;
    text-decoration: none;
}

.heading__nav-links li:first-child {
    box-sizing: border-box;
    border-top: solid 2px;
    border-top-color: #0065FC;
    color: #0065FC;
}

.heading__nav-links li:last-child {
    font-weight: 600;
    color: #0065FC;
}

/* "Trouvez votre hébergement pour..."  */
.search {
    margin: 30px 0;
}

.searching {
    display: flex;
    flex-direction: column;
}

.searching__title * {
    margin: auto;
}

.searching__input * {
    padding: 6px;
    border: none;
    color: initial;
}

.searching__input span {
    border: solid 1px transparent;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
}

.search-elt {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    margin: 0;
}

.searching__input input::placeholder {
    font-weight: 600;
    color: initial;
}

.searching__input button {
    border: solid 1px transparent;
    border-radius: 0 10px 10px 0;
    background: #0065FC;
    color: #fff;
    margin: 0;
}

.searching__input {
    border: none;
    border-radius: 10px;
}

.searching__input,
.searching__filter,
.searching__filter ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searching__title,
.searching__input,
.searching__filter {
    margin: 10px 0;
}

.searching__filter {
    align-items: center;
    font-weight: 600;
    margin: auto;
}

.searching__filter p {
    margin-right: 10px;
}

.searching__filter ul {
    padding: 0;
    margin-right: 5px;
}

.searching__filter ul li {
    display: flex;
}

.searching__filter ul li a {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #f2f2f2;
    border-left-style: none;
    border-radius: 30px;
}

.searching__filter ul li a:hover {
    background: #deebff;
    color: #0265fc;
}

.searching__filter--round-corner {
    position: relative;
    display: flex;
    border-radius: 35px;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
}

.searching__filter--round-corner i {
    font-size: initial;
    color: #0065FC;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.searching__filter span {
    padding: 0 10px;
}

.searching__filter ul li i {
    background: #DEEBFF;
    border-radius: 30px;
}

.searching__info div {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.searching__info div i {
    font-size: 10px;
}

.searching__info div span {
    margin: auto 10px;
}

.searching__info--round-corner {
    position: relative;
    display: flex;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}

.searching__info--round-corner i {
    font-size: initial;
    color: #0065FC;
    align-self: center;
    justify-self: center;
    margin: auto;
}

/* "Hébergements" */

.lodging-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.lodging-infos {
    padding: 0 10px;
    height: max-content;
    flex-direction: column;
}

.lodging-infos>*,
.lodging-infos header h4 {
    margin: 4px 0;
}

.lodging-infos span {
    font-weight: 600;
}

.lodging-item {
    width: 30%;
}

.lodging-item a img {
    width: 100%;
    height: auto;
}

/* "Les plus populaires" */
.popular-items__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.popular-items>div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popular-items__title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.popular-items__title i {
    color: initial;
}

.item-featured {
    display: flex;
    height: 130px;
}

.item-featured a>div:first-child {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 150px;
    height: 100%;
}

.featured-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px;
    margin: 0;
}

article.item-featured>a {
    display: flex;
}

article.item-featured:last-child a>div {
    height: 100%;
}

.item-featured:first-child a>div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.featured-infos h4,
.featured-infos p {
    margin: 5px auto;
}

.featured__stars {
    margin: 40px 0 5px;
}

.item-featured:last-child img {
    width: 100%;
    height: auto;
}

/* "Activités à Marseille"  */
.activities {
    width: 100%;
}

.activities article.activities-items__item h4 {
    padding: 0 20px;
}

.activities>div {
    width: 100%;
    margin: auto;
    display: block;
}

.activities-items--1col,
.activities-items--2cols {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 24%;
}


.activities-items--2cols article a,
.activities-items--1col article a {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-items--2cols article a div,
.activities-items--1col article a div {
    flex-direction: column;
    height: 100%;
    width: auto;
}

.activities-items--2cols article a img {
    width: 100%;
    height: auto;
}

.activities-items--1col article a img {
    height: 100%;
    width: auto;
}

.activities-items {
    display: flex;
    justify-content: space-between;
}

.activities-items--1col .activities-items__item,
.activities-items--2cols .activities-items__item {
    display: flex;
    width: auto;
    border: hidden;
}

/* Footer */
.footer {
    width: 100%;
    background: #f2f2f2;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    max-width: 900px;
}

.footer__elt {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0 50px 0 0;
}

.footer__elt ul {
    margin: 0;
    padding: 0;
}

.footer__elt ul li {
    margin: auto;
    padding: 0 0 2px 0;
}

@media only screen and (max-width: 600px) {

    h1,
    h2,
    h3 {
        font-size: 1.8em;
    }

    section.featured-infos h4,
    section.activities h4,
    section.lodging-articles h4,
    .fa-chart-line:before,
    .fa-map-marker-alt:before {
        font-size: 1.4em;
    }

    .searching__filter--round-corner+span,
    .fa-info::before,
    .footer__elt ul li,
    .heading__nav-links {
        font-size: 1.3em;
        ;
    }

    .searching__info--round-corner+span {
        font-size: 1.2em;
    }

    .lodging-articles>div>p {
        font-size: large;
        font-weight: 600;
    }

    p {
        font-size: 1.2em;
    }

    body {
        padding: 0;
    }

    .lodging-articles,
    .activities {
        width: auto;
        background: none;
        padding: 20px;
    }


    .popular-items {
        width: auto;
    }

    .popular-items__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .searching__input {
        border-radius: 15px;
    }

    .searching__input span {
        border-radius: 15px 0px 0px 15px;
    }

    .searching__filter ul li {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .searching__filter ul {
        padding: 0;
        flex-wrap: wrap;
    }

    .searching__info--round-corner {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    a.heading__logo {
        position: absolute;
        top: 15px;
        left: 15PX;
    }

    .heading__nav-links {
        padding: 0;
        justify-content: space-between;
        margin: 60px 0 0;
        width: 100%;
    }

    .heading__nav-links li:first-child {
        border-top: unset;
        border-bottom: solid 2px;
        border-bottom-color: #0065fc;
        flex: 1;
    }

    .heading__nav-links li:nth-child(2) {
        border-bottom: solid 2px;
        border-bottom-color: #F2F2F2;
        flex: 1;
    }

    .heading__nav-links li a {
        padding: 25px 20px 10px;
        margin: auto;
    }

    .heading__nav-links li:nth-child(3) {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .search {
        padding: 20px;
    }

    .searching__input {
        justify-content: space-between;
        border: solid .5px #F2F2F2;
        margin: 0;
        height: 50px;
        max-width: 400px;
    }

    .searching__input span {
        display: flex;
    }

    .searching__input span i {
        margin: auto;
    }

    .searching__input input {
        flex: 1;
        border: unset;
    }

    .searching__input button {
        font-size: 0;
        border-radius: 15px;
    }

    .fa-map-marker-alt:before {
        padding: 5px;
    }

    .searching__input button::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        font-size: initial;
        padding: 10px
    }

    .searching__filter {
        flex-wrap: wrap;
        margin: 20px 0;
    }

    .searching__filter ul li a {
        margin: 10px 5px 10px 0;
    }

    .searching__filter p {
        margin: 0;
    }

    input.search-elt::placeholder {
        padding: 10px;
    }

    .popular-items {
        order: 0;
    }

    .popular-items__container {
        padding: unset;
    }

    .lodging-articles {
        order: 3
    }

    .activities {
        order: 4;
    }

    article.item-featured {
        width: 100%;
    }

    article.lodging-item {
        width: unset;
    }

    article.lodging-item {
        width: unset;
    }

    .activities-items {
        flex-direction: column;
    }

    .activities-items--1col article a img,
    .activities-items--2cols article a img {
        width: 100%;
        height: auto;
    }

    .activities-items--1col .activities-items__item,
    .activities-items--2cols .activities-items__item {
        height: 200px;
        ;
    }

    .activities-items--1col,
    .activities-items--2cols {
        width: unset;
    }

    .activities-items--1col,
    .activities-items--2cols {
        height: unset;
    }

    .footer-container {
        flex-direction: column;
    }

    .heading {
        padding: unset;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {

    .lodging-articles {
        width: auto;
    }

    .popular-items {
        width: auto;
        margin: 10px auto;
    }

    .popular-items>div {
        height: 100%;
        flex-wrap: nowrap;
    }

    aside .item-featured {
        min-width: unset;
        width: 48%;
    }

    .activities {
        margin-bottom: 20px;
    }

    .activities-items {
        flex-wrap: wrap;
    }

    .activities-items--1col,
    .activities-items--2cols {
        width: 48%;
    }

    .activities-items--1col:nth-child(3) {
        order: 4;
    }
}

@media only screen and (min-width: 1024px) {
    .lodging-articles {
        width: 70%;
    }

    .search-elt {
        min-width: 200px;
    }

    .popular-items {
        width: 27%;
    }

    .item-featured {
        min-width: 100%;
    }

    .popular-items__container {
        width: 100%;
    }

    aside .item-featured {
        width: 100%;
    }

    .popular-items__container {
        flex-direction: column;
    }

    .activities {
        margin: 40px 0;
    }
}